transformers==4.52.4
bitsandbytes==0.46.0
accelerate==1.7.0
langchain==0.3.25
langchainhub==0.1.21
langchain-chroma==0.2.4
langchain_experimental==0.3.4
langchain_community==0.3.24
langchain_huggingface==0.2.0
langchain-text-splitters==0.3.8
langchain-google-genai==2.1.5
python-dotenv==1.1.0
pypdf
tqdm
tiktoken
sentencepiece 
protobuf
streamlit==1.36.0
einops
